<div>
    <div class="flex justify-around  h-screen gap-5 text-white my-12">
        <div class="max-w-sm rounded overflow-hidden shadow-lg h-40 bg-green-800 flex items-center">
            <div class="px-6 py-4 ">
              <div class="font-bold text-xl mb-2 ">Customer number</div>
              <p class="text-center">
                {{count}} 
              </p>
            </div>
        </div>
          <div class="max-w-sm rounded overflow-hidden shadow-lg h-40 bg-green-800 flex items-center">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">Total amount</div>
              <p class="">
                1554545.651 $
              </p>
            </div>
          </div>
    </div>
</div>