

    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input (input)="onChange()" [(ngModel)]="value"  type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search ..." required>
    </div>


<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    firstName
                </th>
                <th scope="col" class="px-6 py-3">
                    lastName
                </th>
                <th scope="col" class="px-6 py-3">
                    email
                </th>
                <th scope="col" class="px-6 py-3">
                    gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let customer of customers">
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{customer.firstName}}
                </td>
                <td class="px-6 py-4">
                    {{customer.lastName}}
                </td>
                <td class="px-6 py-4">
                    {{customer.email}}
                </td>
                <td class="px-6 py-4">
                    {{customer.gender}}
                </td>
                <td class="px-6 py-4">
                    {{customer.address}}
                </td>
                <td>
                    <button class="h-10 px-5 m-2 text-green-800 transition-colors duration-150 rounded-lg focus:shadow-outline"><a [routerLink]="['/edit-customer', customer.id]" ><i class="fa-regular fa-pen-to-square"></i></a></button>
                </td>
                <td>
                    <button class="h-10 px-5 m-2 text-red-800 transition-colors duration-150 rounded-lg focus:shadow-outline" (click)="delete(customer.id)"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>